body {
   background-color:white;
    color: #85144b;
    margin-top: auto ;
    
    
}
#navlink {
    background-color: #85144b;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding-top: 10px

}.list a {
    color: aliceblue;
    text-decoration: none;
}

.list li {
    text-decoration: none;
    list-style-type: none;
    margin-right: 20px
}

.list {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    color: white;
}
.text-center{
    text-align: center
}
#result{
height: 300px;
padding: 30px;
display: flex;
justify-content: center

}
#hotels{
height: 500px;
display: flex;
justify-content: space-evenly

}
footer{
    background-color: #85144b;
    height: 100px;
    color: white;
    text-decoration: none;
    
}
.footer{
    display: flex;
    justify-content: space-evenly;
    
}
.footer-nav{
    list-style-type: none;
    padding-top: 30px;
    text-transform: uppercase;
}