body {
    background-color: white;
    color: orangered;
    margin-top: auto;
}

.jumbotron {
    background-color: white;
}

#navlink {
    background-color: #85144b;
    display: flex;
    justify-content: space-between;
    height: 50px;
    padding-top: 10px
}

.list a {
    color: aliceblue;
    text-decoration: none;
}

.list li {
    text-decoration: none;
    list-style-type: none;
    margin-right: 20px
}

.list {
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
    color: white;
}

.text-center {
    text-align: center
}

#result {
    margin-left: 20px;
    padding-left: 20px;
    margin-top: 0;
}

p,h3,h4 {
    color: rgb(129, 122, 122);
    font-size: 20px
}
h3,h4{
text-align: center
}
#wrap{

    display: flex;
    justify-content: flex-start;
    flex-direction:column
}
#image{
    width: 100%;
    height: 450px
}